* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#navbar ul {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding-top: 20px;
}

header h1,
.add-new h2 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 1rem;
  text-align: center;
}

#navbar h1 {
  font-size: 2.5rem;
  color: var(--gray);
  padding:10px;
}
#navbar {
  display: flex;
  justify-content: space-between;
}

.date-display {
  display: flex;
  justify-content: end;
  width: 88%;
  margin: 12px auto;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

.nav-list li {
  border-right: 2px solid #333;
  margin-right: 4px;
  padding-right: 4px;
}

#navbar ul li,
#navbar ul li a {
  display: flex;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 5px;
}

#navbar ul li a:hover {
  color: var(--purple);
}

.heading {
  flex: 1 1 0%;
  padding: 1rem;
  width: 88%;
  color: var(--gray);
  text-align: center;
  margin-top: 24px;
  margin-bottom: 12px;
}

.add-new {
  padding-top: 100px;
}

.add-new h2 {
  font-size: 2rem;
}

#awesome-books {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.title-input,
.author-input {
  flex: 1 1 0%;
  padding: 0.8rem;
  border-radius: 1rem;
  border:1px solid;
  margin-right: 1rem;
  font-size: 1.25rem;
}

.title-input::placeholder,
.author-input::placeholder {
  font-size: 16px;
}

.add-btn {
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s;
  margin-bottom: 1rem;
  text-align: center;
}

.added-books {
  border: 1px solid;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

.remove-btn {
  display: flex;
  justify-content: end;
  color: black;
  padding: 5px;
  border: 1px solid;
}

.remove-btn:hover {
  opacity: 0.8;
}

.remove-btn:active {
  opacity: 0.6;
}

#contact {
  padding-top: 100px;
}

#contact h2 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 2rem;
  text-align: center;
}

#contact ul {
  margin-left: 40%;
}

#contact p {
  margin-left: 30%;
}

#top-books {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 12px;
  margin-bottom: 10px;
  padding-top: 2px;
}

#top-books h2 {
  text-align: center;
  margin-bottom: 12px;
}

.new-books {
  margin-bottom: 32px;
}

.new-books div {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.new-books div {
  background-color: block;
}

#footer {
  border: 3px solid var(--gray);
  width: 88%;
  margin: 12px auto;
  padding: 12px;
}

.hidden {
  display: none;
}

.main-container {
  width: 50%;
  margin: 0 auto;
}

:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --light: #eee;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --gray: #808080;
}

footer {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
}